{{define "craft"}}
<div class="container mx-auto">
  <div class="md:py-12 py-8">
    <div class="flex justify-center relative pb-1">
      <span class="absolute block h-px bottom-1/2 left-0 right-0"
        style="background-image: linear-gradient(90deg, #9ca3af, rgba(156, 163, 175, 0) 39.47%, rgba(156, 163, 175, 0) 50%, rgba(156, 163, 175, 0) 60.51%, #9ca3af);"></span>
      <div class="px-6 py-3 relative">
        <p class="text-body-sm font-light tracking-2 tracking-wider text-neutral-500">Made with 🧡 and 🤲 By</p>
      </div>
    </div>
    <div class="flex flex-row flex-wrap justify-center items-center gap-8 py-6">
      <img src="/static/svg/html.svg" alt="01 html" class="h-16 aspect-square">
      <img src="/static/svg/tailwind.svg" alt="02 tailwind" class="h-16 aspect-square">
      <img src="/static/svg/javascript.svg" alt="03 javascript" class="h-16 aspect-square">
      <img src="/static/svg/go.svg" alt="04 go" class="h-16 aspect-square">
      <img src="/static/svg/markdown.svg" alt="05 markdown" class="h-16 aspect-square">
    </div>
    <div class="flex justify-center relative pb-1">
      <span class="absolute block h-px bottom-1/2 left-0 right-0"
        style="background-image: linear-gradient(90deg, #9ca3af, rgba(156, 163, 175, 0) 39.47%, rgba(156, 163, 175, 0) 50%, rgba(156, 163, 175, 0) 60.51%, #9ca3af);"></span>
      </span>
      <div class="px-6 py-3 relative">
        <p class="text-body-sm font-light tracking-2 text-neutral-500">And more Technology</p>
      </div>
    </div>
  </div>
</div>
</div>
{{end}}
