#toc-list, #toc-list ol, #toc-list ul {
  list-style-type: none;
  font-family: monospace;
  font-size: medium;
}

#toc-list, #toc-list ul, #toc-list li {
  margin: 0;
}

#table-of-contents {
  border-width: 1px;
  border-color: rgb(51 65 85);
  border-radius: 1rem;
  padding: 1rem;
  color: rgb(51 65 85);
  font-size: medium;
  cursor: pointer;
}

#table-of-contents:hover {
  background-color: rgba(203, 213, 225, 0.5);
}

.dark #table-of-contents {
  border-color: rgb(203 213 225);
  color: rgb(203 213 225);
}

.dark #table-of-contents:hover {
  background-color: rgba(51, 65, 85, 0.5);
}

#table-of-contents.expanded {
  border-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 0;
}

#table-of-contents::before {
  content: '📑';
  display: inline-block;
  width: 30px;
  margin-left: 10px;
}

#toc-list {
  margin-bottom: 2rem;
  padding: 1rem;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
  max-height: 0;
  transition: max-height 1s cubic-bezier(0, 1, 0, 1);
}

#toc-list.expanded {
  max-height: 1024px;
  transition: max-height 1s ease-in-out;
  border-width: 1px;
  border-color: rgb(51 65 85);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-top: 0;
  padding-bottom: 1rem;
}

.dark #toc-list {
  border-color: rgb(203 213 225);
}

#toc-list a {
  text-decoration-line: none;
  font-weight: 300;
  color: rgb(51 65 85);
}

.dark #toc-list a {
  color: rgb(203 213 225);
}

article table {
  width: 100%;
  overflow-x: scroll;
}

.gallery img {
  border-width: 0;
}
