#toc-list, #toc-list ol, #toc-list ul {
  list-style-type: none;
  font-family: monospace;
  font-size: medium;
}

#toc-list, #toc-list ul, #toc-list li {
  margin: 0;
}

#table-of-contents {
  border-width: 1px;
  border-color: black;
  border-bottom: 0px;
  margin-bottom: 0px;
  padding: 1rem;
  color: black;
  font-size: medium;
}

.dark #table-of-contents {
  border-color: white;
  color: white;
}

#table-of-contents::before {
  content: '📑';
  display: inline-block;
  width: 30px;
  margin-left: 10px;
}

#toc-list {
  margin-bottom: 4rem;
  padding: 1rem;
  padding-top: 0;
  border-width: 1px;
  border-color: black;
  border-top: 0px;
}

.dark #toc-list {
  border-color: white;
}

#toc-list a {
  text-decoration-line: none;
  font-weight: 300;
  color: black;
}

.dark #toc-list a {
  color: white;
}
