{{define "vacation-banner"}}
<div class="flex justify-center flex-col align-middle items-center h-screen">
  <div class="flex items-center justify-center h-screen w-screen overflow-x-clip">
    <div class="flex items-center justify-center w-full">
      <div class="aspect-4/3 h-48 lg:h-64 transform -rotate-12 mt-32">
        <img src="https://picsum.photos/640/480?random=1" loading="lazy" alt="banner left first"
          class="rounded-lg object-cover aspect-4/3 h-full hover:scale-150 transition-transform overflow-hidden duration-1000 hover:rotate-12 hover:z-20" />
      </div>
      <div class="aspect-4/3 h-48 lg:h-64 transform -rotate-6 mt-9">
        <img src="https://picsum.photos/640/480?random=2" alt="banner left"
          class="rounded-lg object-cover aspect-4/3 h-full hover:scale-150 transition-transform overflow-hidden duration-1000 hover:rotate-6 z-10 hover:z-20" />
      </div>
      <div class="aspect-4/3 h-48 lg:h-64">
        <img src="https://picsum.photos/640/480?random=3" alt="banner center"
          class="rounded-lg object-cover aspect-4/3 h-full hover:scale-150 transition-transform overflow-hidden duration-1000 z-20" />
      </div>
      <div class="aspect-4/3 h-48 lg:h-64 transform rotate-6 mt-9">
        <img src="https://picsum.photos/640/480?random=4" alt="banner right"
          class="rounded-lg object-cover aspect-4/3 h-full" />
      </div>
      <div class="aspect-4/3 h-48 lg:h-64 transform rotate-12 mt-32">
        <img src="https://picsum.photos/640/480?random=5" alt="banner right first"
          class="rounded-lg object-cover aspect-4/3 h-full" />
      </div>
    </div>
  </div>
  <div class="p-4 text-center space-y-4">
    <h2 class="text-slate-700 dark:text-slate-300 text-sm font-light">Tailored Travel Experiences for Unforgettable
      Adventures</h2>
    <h1 class="text-slate-900 dark:text-slate-100 text-5xl">Discover Your Next Adventure Awaits</h1>
  </div>
</div>
{{end}}
