{{define "vacation-gallery"}}
<div class="container mx-auto">
  <div class="my-16 flex items-center justify-center">
    <h2 class="text-2xl text-neutral-900 dark:text-neutral-100 lg:text-4xl">มุมโปรด</h2>
  </div>
  <div class="grid grid-cols-2 gap-4 md:grid-cols-4">
    <div class="grid gap-4">
      <div>
        <img
          class="aspect-4/3 h-auto max-w-full rounded-lg object-cover object-center"
          src="https://picsum.photos/1024/768?random=21"
          alt="gallery-photo"
          loading="lazy"
        />
      </div>
      <div>
        <img
          class="aspect-9/16 h-auto max-w-full rounded-lg object-cover object-center"
          src="https://picsum.photos/1024/768?random=22"
          alt="gallery-photo"
          loading="lazy"
        />
      </div>
      <div>
        <img
          class="aspect-square h-auto max-w-full rounded-lg object-cover object-center"
          src="https://picsum.photos/1024/768?random=23"
          alt="gallery-photo"
          loading="lazy"
        />
      </div>
    </div>
    <div class="grid gap-4">
      <div>
        <img
          class="aspect-9/16 h-auto max-w-full rounded-lg object-cover object-center"
          src="https://picsum.photos/1024/768?random=31"
          alt="gallery-photo"
          loading="lazy"
        />
      </div>
      <div>
        <img
          class="aspect-square h-auto max-w-full rounded-lg object-cover object-center"
          src="https://picsum.photos/1024/768?random=32"
          alt="gallery-photo"
          loading="lazy"
        />
      </div>
      <div>
        <img
          class="aspect-4/3 h-auto max-w-full rounded-lg object-cover object-center"
          src="https://picsum.photos/1024/768?random=33"
          alt="gallery-photo"
          loading="lazy"
        />
      </div>
    </div>
    <div class="grid gap-4">
      <div>
        <img
          class="aspect-square h-auto max-w-full rounded-lg object-cover object-center"
          src="https://picsum.photos/1024/768?random=41"
          alt="gallery-photo"
          loading="lazy"
        />
      </div>
      <div>
        <img
          class="aspect-3/4 h-auto max-w-full rounded-lg object-cover object-center"
          src="https://picsum.photos/1024/768?random=42"
          alt="gallery-photo"
          loading="lazy"
        />
      </div>
      <div>
        <img
          class="aspect-square h-auto max-w-full rounded-lg object-cover object-center"
          src="https://picsum.photos/1024/768?random=43"
          alt="gallery-photo"
          loading="lazy"
        />
      </div>
    </div>
    <div class="grid gap-4">
      <div>
        <img
          class="aspect-9/16 h-auto max-w-full rounded-lg object-cover object-center"
          src="https://picsum.photos/1024/768?random=51"
          alt="gallery-photo"
          loading="lazy"
        />
      </div>
      <div>
        <img
          class="aspect-9/16 h-auto max-w-full rounded-lg object-cover object-center"
          src="https://picsum.photos/1024/768?random=52"
          alt="gallery-photo"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</div>
{{end}}
