{{define "vacation-header"}}
<div class="mb-12 grid gap-4">
  <div>
    <img
      class="w-full max-w-full rounded-lg bg-zinc-900 object-cover object-center opacity-30 h-[480px]"
      src="{{.FeaturedImage}}"
      alt="featured image"
    />
    <div class="absolute left-0 right-0 top-48">
      <div class="flex flex-col items-center justify-center space-y-4 py-4">
        <h1
          class="text-shadow-lg text-3xl lg:text-6xl font-medium tracking-wider text-orange-600 shadow-zinc-900 dark:text-orange-400"
        >
          {{.Title}}
        </h1>
        <span class="text-shadow font-light text-neutral-600 shadow-zinc-900 dark:text-neutral-400 text-center p-4">{{.Excerpt}}</span>
      </div>
    </div>
  </div>
  <div
    class="mx-auto my-4 grid w-full max-w-3xl grid-cols-4 gap-2 rounded-md px-8 py-2 text-neutral-700 dark:text-neutral-300"
  >
    <div class="col-span-4">
      <p class="text-lg font-medium tracking-wider text-orange-700 dark:text-orange-300">ข้อมูลการเดินทาง</p>
    </div>
    {{range .Info}}
    <div class="font-semibold capitalize">{{.Key}}</div>
    <div class="col-span-3">{{.Value}}</div>
    {{end}}
  </div>
  <div class="hidden lg:grid lg:grid-cols-3 xl:grid-cols-6 gap-4">
    {{range $photo := .Photos}}
    <div class="group relative inline-block w-full overflow-hidden rounded-lg bg-zinc-900">
      <img
        src="{{$photo}}"
        class="inset-0 aspect-video h-auto max-w-full rounded-lg object-cover object-center duration-200 group-hover:scale-125 group-hover:opacity-80"
        alt="gallery-image"
      />
    </div>
    {{end}}
  </div>
</div>
{{end}}
