{{define "memo-group"}}
<div class="container mx-auto mb-12 max-sm:p-6">
  <div class="flex flex-col items-center justify-center p-12 text-center">
    <h1 class="text-3xl font-semibold text-neutral-900 dark:text-neutral-100">สมุดจดบันทึก</h1>
    <p class="text-base text-neutral-600 dark:text-neutral-400">เรื่องราวต่างๆ ที่ผ่านเข้ามาในชีวิต</p>
  </div>
</div>

<div class="container mx-auto max-w-screen-xl px-8 xl:px-5">
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:auto-cols-[minmax(0,15rem)] py-12 lg:grid-cols-4 xl:grid-cols-4 2xl:grid-cols-4 gap-2 col-span-4 text-neutral-700 dark:text-neutral-300 h-full">
    {{range .Groups}}
    <a title="{{.Name}}" aria-label="{{.Name}}" href="{{.Link}}"
      class="row-span-2 h-full flex flex-col justify-between">
      <div
        class="group flex w-full items-center justify-between space-x-3 ring-1 ring-neutral-200 hover:ring-neutral-800 ring-inset p-8 text-left focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">
        <span class="flex min-w-0 flex-1 items-center space-x-3">
          <span class="block min-w-0 flex-1 text-sm *:block">
            <span class="capitalize text-lg">{{.Name}}</span>
            <span>{{.Count}} Articles</span>
          </span>
        </span>
      </div>
    </a>
    {{end}}
  </div>
</div>

<div class="star-field">
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
</div>

{{end}}
